@font-face {
  font-family: Spirequal;
  src: url("fonts/spirequalLight/SPIREQ_L.TTF") format("opentype");
}
h1, h2, p, table {
  font-family: Spirequal, serif;
}
h1 {
  font-size: 50pt;
  text-align: center;
}
h2 {
  font-size: 30pt;
  text-align: center;
}
#citation,#home-link {
  text-align: center;
  font-size: 16pt;
  font-style: italic;
}
p {
  font-size: 22pt;
  text-align: center;
  color: black;
}
.term {
  color: #606060;
  font-weight: bold;
  cursor: default;
}
.term:hover{
  border: solid 1px lightgrey;
  border-radius: 3px;
  font-size: 23pt;
}
html {
  background: #f2f2f2;
}
